# Data — never commit competition data (licensed)
data/

# Python
__pycache__/
*.pyc
*.pyo
.env
.venv/
env/

# Jupyter checkpoints
.ipynb_checkpoints/

# Models and experiment artifacts
*.pkl
*.pth
*.joblib
*.pt
*.ckpt
mlruns/
wandb/
models/
*.npy
*.txt
*.parquet

# OS
.DS_Store
Thumbs.db
